@import './_colors.scss';

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  height: 100%;
}

@media screen and (max-width:1000px) and (max-height:1000px) {
  .achievementBox {
    float: left;

    .achievementText {
      color: $text-gray;
      font-size: 16px;
    }

    .achievementInfo {
      font-size: 16px;
      font-weight: bold;
    }
  }
}