@import 'modifiers';
@import './_colors.scss';

@media screen and (max-width:1000px) {
  .achievement {
    width: 40%;
    margin: 5%;
    float: left;

    @include element('text') {
      color: $text-gray;
      font-size: 16px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    @include element('description') {

      @include modifier('name'){
        text-align: left;
        display: inline-block;
        max-width: 63%;
        font-size: 16px;
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      @include modifier('info') {
        text-align: left;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
