@import 'modifiers';
@import './_colors.scss';

.cookieAlertBox {

    position: fixed;
    left: 0;
    right: 0;
    bottom:-75px;
    height: 75px;
    background-color: aqua;
    display: grid;
    grid-template-columns: 5fr 2fr 1fr;
    grid-template-areas: 
        "text accept decline";
    animation: slideIn 0.5s ease forwards;
    
    @keyframes slideIn {
        0%{}
        100%{transform: translateY(-75px)}
    }

    @keyframes slideOut {
        0%{}
        100%{transform: translateY(75px)}
    }
  
    @include modifier('hide') {
        position: fixed;
        left: 0;
        right: 0;
        bottom:0px;
        height: 75px;
        animation: slideOut 0.5s ease forwards;
    }

    @include element('acceptButton') {
        background-color: green;
        grid-area: accept;
        margin: auto;
    }

    @include element('declineButton') {
        background-color: red;
        grid-area: decline;
        margin: auto;
    }

    @include element('text') {
        color: black;
        grid-area: text;
    }

    @include element('link') {
        color: blue;
    }
}