@import 'modifiers';
@import './_colors.scss';

@media screen and (min-width:601px) {
  .list {
    display: grid;
    grid-template-columns:  60% 40%;
    grid-gap: 5px;
    grid-auto-rows: minmax(36px, auto);
    margin: auto;
    width: 600px;

    @include element('groupInfo') {
      grid-column: 1/2;

      @include modifier('name') {
        color: $text-gray;
        font-size: 32px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      @include modifier('progress') {
        color: $text-light-gray;
        font-size: 28px;
        padding: 0;
      }
    }

    @include element('statusField') {
      grid-column: 2/3;
      margin-top: auto;
      margin-bottom: auto;
      text-align: right;

      @include modifier('info') {
        zoom: 2;
      }
    }
  }

  .wholeList {
    padding: 0px;
  }
}

@media screen and (max-width:600px){
  .list {
    display: grid;
    grid-template-columns:  60% 40%;
    grid-gap: 5px;
    grid-auto-rows: minmax(36px, auto);
    margin: 20px;

    @include element('groupInfo') {
      grid-column: 1/2;

      @include modifier('name') {
        color: $text-gray;
        font-size: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      @include  modifier('progress') {
        color: $text-light-gray;
        font-size: 14px;
        padding: 0;
      }
    }

    @include element('statusField') {
      grid-column: 2/3;
      margin-top: auto;
      margin-bottom: auto;
      text-align: right;
    }
  }

  .wholeList {
    padding: 0px;
  }
}