@import 'modifiers';

.login-code {
    text-align: center;
    margin: 5%;
    background: #460044;

    @include element('Message') {
        margin: 10px;
        color: red;
    }

    @include element('statusMessage') {
        margin: 10px;
        color: white;
    }
}

.input {
    margin: 5px;
    background: #460044;
    width: 30px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
    border-width: 0px 0px 5px 0px;
    border-color: white;
    border-radius: 0;
    outline: 0;
    -webkit-opacity: 1;
    -webkit-text-fill-color: white;
    transition-duration: 0.2s;

    &:focus{
        border-bottom: 5px solid #e80057;    
    }

    @include modifier('highlight'){
        border-bottom: 5px solid #e80057;
    }
}


